# Xcode
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
*.xcworkspace/*
!*.xcworkspace/contents.xcworkspacedata
build/
DerivedData/

# Swift Package Manager
.swiftpm/
Package.resolved

# CocoaPods
Pods/
*.podspec

# macOS
.DS_Store

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

#PYTHON BACKEND API STUFF
IOS/Arthouse/Arthouse.SQL.DB/PYTHON BACKEND/test.json